    <section id="add_comment" class="simple_form">
        <form action="#add_comment" method="post" {{ form_enctype(form) }}>
            <fieldset>
                {{ form_errors(form) }}

                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}

                {{ form_rest(form) }}
            </fieldset>

            <fieldset class="options">
                <input type="submit" value="Add Comment" />
            </fieldset>
        </form>
    </section>