{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block title %}Edit Comment - {{ parent() }}{% endblock %}

{% block bodyClass %}{{ parent() }} split{% endblock %}

{% block content %}
    <section class="post">
        <header>
            <h2>In response to: <a href="{{ path('view_post', { 'id': comment.getPost().getId() }) }}">{{ comment.getPost().getTitle() }}</a></h2>
        </header>
    </section>

    <section id="comment-{{ comment.getId() }}" class="comment">
        <section class="author">
            <a href="">{{ comment.getAuthor().getUsername() }}</a>
            posted on {{ comment.getDateCreated().format('F d, Y \\a\\t g:i a') }}
        </section>

        <section class="content">
            {{ comment.getContent() }}
        </section>
    </section>

    <section id="edit_comment" class="form">
        <h2>Change comment to:</h2>

        <form action="{{ path('edit_comment', {'id' : comment.getId()}) }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                {{ form_errors(form) }}

                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}

                {{ form_rest(form) }}
            </fieldset>

            <fieldset class="options">
                <input type="submit" value="Update" /> or
                <a href="{{ path('view_post', {'id': comment.getPost().getId()}) }}#comment-{{ comment.getId() }}">cancel</a>
            </fieldset>
        </form>
    </section>
{% endblock %}