    <section id="edit_comment" class="form">
        <h2>Edit Comment</h2>

        <form action="{{ path('edit_comment', {'id' : comment.getId()}) }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                {{ form_widget(form) }}
            </fieldset>

            <fieldset class="options">
                <input type="submit" value="Update" /> or
                <a href="{{ path('view_post', {'id': comment.getPost().getId()}) }}#comment-{{ comment.getId() }}">cancel</a>
            </fieldset>
        </form>
    </section>