{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block title %}Delete Category - {{ parent() }}{% endblock %}

{% block bodyClass %}{{ parent() }} split{% endblock %}

{% block content %}
    <section id="delete_category" class="form">
        <h2>Delete category: {{ category.getName() }}</h2>

        <form action="{{ path('delete_category', {'id' : category.getId()}) }}" method="post">
            <fieldset>
                {{ form_widget(form) }}
            </fieldset>

            <fieldset class="options">
                <input type="submit" value="Delete" /> or
                <a href="{{ path('view_category', {'id' : category.getId()}) }}">Cancel</a>
            </fieldset>
        </form>
    </section>
{% endblock %}