{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block title %}Edit Category - {{ parent() }}{% endblock %}

{% block bodyClass %}{{ parent() }} split{% endblock %}

{% block content %}
    <section id="edit_category" class="form">
        <h2>Edit Category</h2>

        <form action="{{ path('edit_category', {'id' : category.getId()}) }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                {{ form_widget(form) }}
            </fieldset>

            <fieldset class="options">
                <input type="submit" value="Update" /> or
                <a href="{{ path('view_category', {'id': category.getId()}) }}">cancel</a>
            </fieldset>
        </form>
    </section>
{% endblock %}