{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block bodyClass %}{{ parent() }} split{% endblock %}

{% block content %}
    <h1 class="light">Posts in <strong>{{ category.getName() }}</strong></h1>

    <section id="posts">
        <ul class="fancy">
        {% for post in posts %}
            <li id="post-{{ post.getId() }}" class="post {{ cycle(['odd', 'even'], loop.index) }}">
                <h3><a href="{{ path('view_post', { 'id': post.getId() }) }}">{{ post.getTitle() }}</a></h3>

                <section class="options">
                    posted by <a href="">Some dude</a>
                </section>
            </li>
        {% else %}
            <li class="empty">
                <p>There are no posts to view.</p>
            </li>
        {% endfor %}
        </ul>
    </section>

    <aside>
        <h2>In this category...</h2>

        <div>
            <a class="button" href="{{ path('add_post', { 'categoryId': category.getId() }) }}">Create New Post</a>
        </div>

        <p>Alternatively, you can <a href="">create a post</a> in a different category.</p>
    </aside>
{% endblock %}