{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block bodyClass %}{{ parent() }} split{% endblock %}

{% block content %}
    <h1 class="light">Posts in <strong>{{ category.getName() }}</strong></h1>

    <section id="posts">
        <ul class="fancy">
        {% for post in posts %}
            <li id="post-{{ post.getId() }}" class="post {{ cycle(['odd', 'even'], loop.index) }}">
                <h3><a href="{{ path('view_post', { 'id': post.getId() }) }}">{{ post.getTitle() }}</a></h3>

                <section class="options">
                    posted by <a href="">Some dude</a>
                </section>
            </li>
        {% else %}
            <li class="empty">
                <p>There are no posts to view.</p>
            </li>
        {% endfor %}
        </ul>

        <ul class="pagination">
        {% if currentPage > 1 %}
            <li><a href="{{ path('view_category_page', {'id' : category.getId(), 'page':currentPage - 1}) }}">Prev</a></li>
        {% endif %}

        {% if totalPages > currentPage %}
            <li><a href="{{ path('view_category_page', {'id' : category.getId(), 'page':currentPage + 1}) }}">Next</a></li>
        {% endif %}
        </ul>
    </section>

    <aside>
        <section>
            <h2>In this category...</h2>
    
            <div>
                <a class="button" href="{{ path('add_post') }}?c={{ category.getId() }}{% if currentPage > 1 %}&amp;cancel={{ path('view_category_page', {'id' : category.getId(), 'page':currentPage}) }}{% endif %}">Create New Post</a>
            </div>
        </section>
    </aside>
{% endblock %}