{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block title %}Delete Post - {{ parent() }}{% endblock %}

{% block bodyClass %}{{ parent() }} split{% endblock %}

{% block content %}
    <section class="post">
        <header>
            <h2><a href="{{ path('view_post', { 'id': post.getId() }) }}">{{ post.getTitle() }}</a></h2>
            <section class="options">
                posted in <a href="{{ path('view_category', { 'id': post.getCategory().getId() }) }}">{{ post.getCategory().getName() }}</a>
                by <a href="">{{ post.getAuthor() }}</a>
            </section>
        </header>

        {% if post.hasComment() %}
        <section class="comment">
            {{ post.getComment() }}
        </section>
        {% endif %}
    </section>

    <section id="edit_comment" class="form">
        <h2>Are you sure you want to delete this post?</h2>

        <form action="{{ path('delete_post', {'id' : post.getId()}) }}" method="post">
            <fieldset class="options">
                <input type="submit" value="Delete" /> or
                <a href="{{ path('view_post', {'id' : post.getId()}) }}">Cancel</a>
            </fieldset>
        </form>
    </section>
{% endblock %}