{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block content %}

    <section id="posts">
        <ul class="fancy">
        {% for post in posts %}
            <li id="post-{{ post.getId() }}" class="{{ cycle(['odd', 'even'], loop.index) }}">
                <a href="{{ path('view_post', { 'id': post.getId() }) }}">{{ post.getTitle() }}</a>

                <section>
                    <a class="{{ path('view_category', { 'id': post.getCategory().getId() }) }}">{{ post.getCategory().getName() }}</a>
                </section>
            </li>
        {% else %}
            <li class="empty">
                <p>There are no posts to view.</p>
            </li>
        {% endfor %}
        </ul>
    </section>

    <aside>
        <ul class="fancy">
        {% for category in categories %}
            <li><a href="{{ path('view_category', { 'id': category.getId() }) }}">{{ category.getName() }}</a></li>
        {% else %}
            <li class="empty">
                <p>There are no categories.</p>
            </li>
        {% endfor %}
        </ul>
    </aside>

{% endblock %}