{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block bodyClass %}{{ parent() }} split{% endblock %}

{% block content %}

    <section id="posts">
        <ul class="fancy">
        {% for post in posts %}
            <li id="post-{{ post.getId() }}" class="post {{ cycle(['odd', 'even'], loop.index) }}">
                <h3><a href="{{ path('view_post', { 'id': post.getId() }) }}">{{ post.getTitle() }}</a></h3>

                <section class="options">
                    posted in <a href="{{ path('view_category', { 'id': post.getCategory().getId() }) }}">{{ post.getCategory().getName() }}</a> by <a href="">Some dude</a>
                </section>
            </li>
        {% else %}
            <li class="empty">
                <p>There are no posts to view.</p>
            </li>
        {% endfor %}
        </ul>
    </section>

    <aside>
        <h3>Categories:</h3>
        <ul class="fancy">
        {% for category in categories %}
            <li><a href="{{ path('view_category', { 'id': category.getId() }) }}">{{ category.getName() }}</a></li>
        {% else %}
            <li class="empty">
                <p>There are no categories.</p>
            </li>
        {% endfor %}
        </ul>
    </aside>

    <aside>
        <div>
            <a class="button" href="{{ path('add_post') }}">Create New Post</a>
        </div>
    </aside>

{% endblock %}