{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block title %}{{ post.getTitle() }} - {% endblock %}

{% block content %}
    <section class="post">
        <header>
            <h2><a href="{{ path('view_post', { 'id': post.getId() }) }}">{{ post.getTitle() }}</a></h2>
            <section class="options">
                posted in <a href="{{ path('view_category', { 'id': post.getCategory().getId() }) }}">{{ post.getCategory().getName() }}</a> by <a href="">{{ post.getAuthor() }}</a>
            </section>
        </header>

        {% if post.hasComment() %}
        <section class="comment">
            {{ post.getComment() }}
        </section>
        {% endif %}
    </section>

    {{ addCommentForm | raw }}

    <section class="comments">
        {% for comment in comments %}
            <section id="comment-{{ comment.getId() }}" class="{{ cycle(['odd', 'even'], loop.index) }} comment">
                {{ comment.getContent() }}
            </section>
        {% endfor %}
    </section>
{% endblock %}